<div class="parallax-container valign-wrapper">
  <div class="parallax"></div>
    <h1 class="valign center-it">
      <img src="<%= image_path("ondex-logo.png")%>" alt="Ondex-Logo" />
    </h1>

</div>



<div class="row">
  <!-- <div></div>
  <div class="card medium col s12 m12 l6 "><%= image_tag "ondex-logo.png"%></div> -->
<!-- Auction Cards -->
  <% @auctions.each do |auction| %>

    <div class="card medium hoverable col s12 m12 l6 z-depth-3">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="<%= auction.item_img(:medium) %>">
      </div>

      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">
          <h5><%= auction.item_name %></h5>
        </span>
        <span>
          Posted by: <%= User.find_by(id:auction.user_id).username %>
        </span>
      </div>

      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">
          <i class="material-icons">close</i>
          <h5><%= auction.item_name %></h5>
        </span>
        <p>
          By: <%= User.find_by(id:auction.user_id).username %>
        </p>
        <br>
        <p class="flow-text"></p>
        <%= link_to auction.item_desc, auction, class: "flow-text" %>

      </div>
    </div>
  <% end %>
</div>
