<h4><%= @auction.item_name %></h4>
<h5>Posted By User: <%= @username %></h5>
<p><%= @auction.item_desc %></p>
<div><img src="<%= @auction.item_img(:medium) %>" alt="item_image"/></div>


<br>
<%= link_to "Make an offer!", new_offer_path %>
<br>
<br>
<%= link_to "Edit", edit_auction_path(@auction) %>
<br>
<%= link_to 'Back', :back %>
