<h1>Sign Up</h1>

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :f_name, 'First Name' %>
    <%= f.text_field :f_name %>
  </div>

  <div class="field">
    <%= f.label :l_name, 'Last Name' %>
    <%= f.text_field :l_name %>
  </div>

  <div class="field">
    <%= f.label :username, 'User Name' %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email, 'Email Address' %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password, 'Password' %>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, 'Confirm your Password' %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>

<% end %>
