<!DOCTYPE html>
<html>
  <head>
    <title>Ondex, always on deck.</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <%= csrf_meta_tags %>
  </head>


  <body class="container">

    <!-- Top Login header -->
    <header>
      <br>
      <div>
        <% if current_user %>

          <span>Welcome, <%= current_user.f_name %> <span>
          &nbsp;&nbsp; | &nbsp;&nbsp;
          <%= link_to 'Logout', session_path('filler'), method: :delete %>
          &nbsp;&nbsp; | &nbsp;&nbsp;
          <%= link_to 'My Ondex', root_path %>

        <% else %>

          <span>Ondex</span>
          &nbsp;&nbsp; | &nbsp;&nbsp;
          <%= link_to 'Login', login_path %>
          &nbsp;&nbsp; | &nbsp;&nbsp;
          <%= link_to 'Sign Up', new_user_path %>

        <% end %>
      </div>

      <!-- Toast! -->
      <p id="notice"></p>
    </header>

    <!-- Responsive Navbar -->
    <nav>
      <div class="nav-wrapper">
        <a href="#" data-activates="mobile-nav" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <ul class="hide-on-med-and-down">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Sell', new_auction_path %></li>
          <li><%= link_to 'Search', root_path %></li>
          <li><%= link_to 'Trending', root_path %></li>
        </ul>
        <ul class="side-nav" id="mobile-nav">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Sell', new_auction_path %></li>
          <li><%= link_to 'Search', root_path %></li>
          <li><%= link_to 'Trending', root_path %></li>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <script>
      Materialize.toast('<%= notice %>', 3000, 'rounded')
    </script>
  </body>
</html>
